@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    background-color: var(--LightGrayishBlue);
}

.center {
    height: 290px;
    width: 730px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.block {
    height: 290px;
    width: 730px;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--White);
    border-radius: 10px;
}

.block_img {
    width: auto;
    height: inherit;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.block_img img {
    display: block;
    width: auto;
    height: inherit;
    background-size: cover;
}

.block_content {
    margin: 40px;
}

.text_title {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: var(--VeryDarkGrayishBlue);
}

.text_messege {
    font-weight: 500;
    color: var(--DesaturatedDarkBlue);
    line-height: 21px;
    margin-bottom: 20px;
}

.content_profile {
    display: flex;
    position: relative;
}

.profile_avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 18px;
}

.profile_data {
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.data_name {
    color: var(--VeryDarkGrayishBlue);
}

.data_day {
    color: var(--GrayishBlue);
}

.profile_button {
    position: relative;
    margin: auto 0 auto auto;
}

.profile_button-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--LightGrayishBlue);
    outline: none;
    border: none;
}

.btn_active {
    background-color: var(--DesaturatedDarkBlue);
}
.btn_active svg path {
    fill: var(--LightGrayishBlue);
}

.share {
    width: 250px;
    height: 55px;
    background-color: var(--VeryDarkGrayishBlue);
    position: absolute;
    top: -85px;
    right: -106px;
    z-index: 1;

    border-radius: 10px;

    display: none;
    align-items: center;
}

.share_active {
    display: flex;
}

.triangle {
    position: absolute;
    bottom: -15px;
    right: 45%;
    z-index: 1;

    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--VeryDarkGrayishBlue);
}

.share_text {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--DesaturatedDarkBlue);
    margin-left: 35px;
    margin-right: 10px;
    letter-spacing: 5px;
}

.share_link {
    margin-right: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.share_link:hover svg path {
    fill: var(--GrayishBlue);
    transition-duration: 0.4s;
}

/* ########################## */
/* media */
@media (max-width: 975px) {
    .center {
        height: 515px;
        width: 325px;
    }

    .block {
        height: 505px;
        width: 325px;git 
        grid-template-columns: 1fr;
        grid-template-rows: 42% 58%;
    }

    .block_img {
        width: inherit;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .block_img img {
        width: inherit;
        height: auto;
    }

    .block_content {
        margin: 35px;
    }

    .text_title {
        font-size: 1rem;
    }

    .profile_avatar {
        width: 40px;
        height: 40px;
    }

    .profile_button-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
    }

    /* button */
    .share {
        width: 325px;
        height: 65px;
        top: -15px;
        right: -35px;
        z-index: 1;
        border-radius: 0 0 10px 10px;
    }

    .triangle {
        display: none;
    }
}
